# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
.env
.venv/
venv/
ENV/
env/
*.sqlite3
data/ISIC_2019_Training_Input
data/ISIC_2019_Training_GroundTruth.csv
data/slice/ISIC_SUBSET/images
data/*.zip

# VS Code settings
.vscode/